
<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button>Discover</ion-button>
      <ion-button>Book</ion-button>
      <ion-button>Manage</ion-button>
      <ion-button>Help</ion-button>
      <ion-button><ion-icon name="search"></ion-icon>Search</ion-button>
    </ion-buttons>

    <ion-title>
      <div class="ion-text-center logo-container">
        <img src="../../assets/britishairways.jpg" alt="British Airways"/>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="outline" >Login</ion-button>
      <ion-button fill="clear"><img src="../../assets/Oneworld-Logo.png" alt="Oneworld"/></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content></ion-content>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="outline"><ion-icon name="airplane-outline" ></ion-icon>Flights</ion-button>
        <ion-button fill="outline"><ion-icon name="swap-horizontal-outline" ></ion-icon>Multi-city</ion-button>
        <ion-button fill="outline"><ion-icon name="arrow-forward-outline" slot="end" ></ion-icon>British Airways Holidays</ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
